// Creazione bottone generale
@mixin bottone_generale {
  background: $color_button;
  padding: 5px;
  border: none;
  border-radius: 5px;

  img{
    float: left;
    width: 15px;
  }
  span{
    float: left;
    margin-left: 4px;
  }
}
@mixin sign_social{
  .bottoni{
    padding: 20px;
    margin-top: 30px;

    .small{
      font-size: 12px;
      padding: 10px 0px;
    }
    button{
      @include bottone_generale;
      color: white;
      background: #2c4792;
    }
  }
}
// Creazione sotto menu navbar
@mixin sotto_menu {
  .sotto_menu{
    position: absolute;
    top: 25px;
    left: 0px;
    background: white;
    border: 1px solid #58402c;

    p{
      padding: 10px;
      color: #58402c;

      &:hover{
        background: $color_button;
      }
    }

    &.nascosto{
      display: none;
    }
  }
}

@mixin blocco_main {
  .blocco{
    margin: 30px;
  }
  img{
    height: 120px;
  }
  p{
    margin: 10px;
    font-size: 13px;
  }
}

@mixin blocco_immagine_centrata {
  .centrato{
    display: block;
    width: 30%;
    margin: 40px auto;

    img{
      width: 100%;
    }
    h2{
      margin: 50px auto;
    }
  }
}

@mixin blocco_feedback{
  .blocco_feedback{
    display: flex;
    flex-direction: row;
    background: white;
    padding: 40px 0px;

    h2{
      font-size: 25px;
      color: $color_text;
      margin-top: 10px;
      margin-bottom: 70px;
    }

    p{
      margin-bottom: 40px;
      color: $color_text;
    }

    a{
      color: blue;
    }

    .left{
      width: 50%;

      img{
        width: 100%;
      }

    }

    .right{
      width: 25%;
      text-align: left;

      img{
        width: 100%;
        margin-top: 20px;
      }
    }
  }
  .blocco_feedback.reverse{
    display: flex;
    flex-direction: row-reverse;
  }
}
